.about {
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;

    .top {
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: left;
        justify-content: left;
        gap: 15px;
        color: gray;

        .title {
            font-size: 16px;
            font-weight: 500;
        }

        .desc {
            font-weight: 300;
            font-size: 14px;
        }

    }
}